.mypic {
  width: 100px;
  border-radius: 100px;
  float: left;
  margin-right: 10px;
}

.linkimage {
  width: 100px;
  border-radius: 50%;
}
.coffee {
  width: 200px;
  height: auto;
  object-fit: cover;
}

p.usernames {
  font-weight: bold;
}

.messages {
  font-style: italic;
}

em {
  color: red;
  font-style: normal;
}

.link  {
  font-size: larger;
  font-weight: bold;
  color: chartreuse;
}
